/*********sub3********/
 .sub_nav_white > a{
            color: white;
        }
 }
        #content3 {
            width: 1200px;
            margin: 0 auto;
        }
        #content3 article{
            width: 900px;
            margin: 0 auto;
        }
 /*******submenu*******/
        
  #content_menu{
            width:250px;
            text-align: center;
            margin-top: 50px;
            margin-left: 19px;
            padding: 8px;
            font-size: 13px;
            height: 50px;
            float: left;
            border-radius: 25px;
            box-shadow: 2px 2px 5px #ccc;
        }
        #content2 .content{
            margin-left: 320px;
            line-height: normal;
        }
        #content2 h3{
            color: #4b4747;
            padding: 6px;
        }
        .menu0, .menu1, .menu2, .menu3, .menu4{
            border: 1px solid black;
            
        }
        
        #content_menu:hover{
            background: #4b4747;
            color: white;
        }
        #content_menu h3:hover{
            background: #4b4747;
            color: white;
        }
        .menu0{
            background: #a3cc45;
        }
        .menu0 a{
            color: white;
        }
        .menu4{
            background-image: url(images/sub1.png);
           
        }
       
/*        submenuë*/


        #content1 > article > img{
            margin-left: auto;
            margin-right: auto;
            margin: 0 auto;
            
        }